@import "tailwindcss";
@plugin "daisyui";

/* TODO: Refer to https://daisyui.com/docs/themes/ as we continue to define things here */
/* https://daisyui.com/theme-generator/#theme=eJxtlOtu4yAQhV8FWaq0KzUIhoth34bYuLHqmAgctbtV330xThMI_mdmvnPmAvJXM5uzbf400_h2WprXpnOT84fQnWwK98a_x-jhsMWPJtgDJSRm3PvUnX7F7xdEEPn9DEEGabXPsJwR-0zn5sXOy50DGjlMiESgBFZK5IqLH8_G_73DfDXFwBG0LSbAdtiqgGapAFtFgFulclGwEe_zEvJWgiImOGZkH6-r8FQFFGIcMIhCZrouZ9t2ZakARBXFmkLNVv5MJX_JokZhTmWume118WZ6XOLWDBHbTss93eB6AthEcU9KYlY0Nc6De7Sf3Gm8MAZYSvoM1lest96jgrM4d1us9BoHDuHhLpN72yIqGYay9xtcbydtlCSRwprnmg_j53F-u7MqzUmVRopjDnqHrfx5eqSUAuICa1L4W--df7S_kZojyqK7qsh6O9triJdFAZOf3r3px2uID26y3ZL8CRbenvPkMNqpTxl4Th3dZykJ4z9bukGZ2zM7Ot_blaaXzxTo7WU5red0mt0Y1n8KiafeDuY6xakGMwX72ly8HawP6Xezxb7_A3F8TlQ */

@plugin "daisyui/theme" {
  name: "brad";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: #ffdbc1;
  --color-base-200: #ffffff;
  --color-base-300: oklch(95% 0 0);
  --color-base-content: #ed683b;
  --color-primary: #f37366;
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@config '../tailwind.config.js';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer utilities {
  /* dark mode options commented out */
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../public/fonts/Montserrat-VariableFont_wght.ttf) format("tff");
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

h1 {
  text-align: center;
}

.ag-theme-balham {
  background-color: transparent;
  margin-top: -30px;
}

.ag-paging-panel > span {
  color: black !important;
}

.ag-root-wrapper {
  position: relative !important;
}

.ag-root-wrapper-body {
  margin-top: 40px;
}

.ag-paging-panel {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  border-top: none !important;
}

.rectangle {
  width: 500px;
  height: 70px;
  border-radius: 15px;
  background-color: #ffe59b;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #6fb1ba;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 3px solid #73b8c1;
}

.tankbox {
  background-color: lightgray;
  width: 24rem;
  height: 10rem;
}

.navbar {
  margin-top: auto;
  position: inline;
  padding: 0;
  width: 200px;
  float: left;
}

.navbar-tabitem {
  @apply w-full py-5 transition;
}

.navbar-tabitem-unhighlighted {
  @apply bg-base-200 outline-neutral outline-0 text-base-content font-semibold hover:bg-primary/50;
}

.navbar-tabitem-highlighted {
  @apply bg-primary outline-neutral outline-primary text-base-300 font-bold;
}

.navbar-graphs-dropdown-button {
  @apply block w-full py-5 text-base-content outline-primary font-semibold hover:bg-primary/50;
}
